textarea {
  resize: none;
  display: block;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
}

input {
  display: block;
  color: inherit;
  font-family: inherit;
}

button {
  border: none;
  outline: 0;
  display: block;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
