@import 'sass/tools/mixins.scss';

@include breakpoint(mobile){
  .inheritBaseFontSize{
  font-size: 1rem;
  }
}

@include breakpoint(tablet){
  .inheritBaseFontSize{
  font-size: 2rem;
  }
}

@include breakpoint(lg-tablet){
  .inheritBaseFontSize{
  font-size: 3rem;
  }
}

@include breakpoint(desktop){
  .inheritBaseFontSize{
  font-size: 4rem;
  }
}

@include breakpoint(lg-desktop){
  .inheritBaseFontSize{
  font-size: 5rem;
  }
}
